body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiSlider-thumb,
.MuiSlider-thumb>*,
.MuiSlider-thumb::before,
.MuiSlider-thumb::after,
.MuiSlider-track {
  pointer-events: none;
}

.MuiLinearProgress-root {
  background: red;
  display: block;
  position: absolute !important;
  border-radius: inherit;
  /* opacity: 0.38; */
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.MuiLinearProgress-bar {
  background-color: yellow !important;
}

.MuiSlider-track {
  height: 3px !important;
  border-radius: 0 !important;
}

